<div class="col-md-4 col-sm-6 col-xs-12">

  <div class="project-box">
    <%= link_to image_tag(project.image_url, alt: project.name, width: '100%', height: '200px'), project_path(project) %>
    <div class="description-box">

      <!-- Project Title -->
      <div class="title">
        <%= link_to project.name, "#" %>
      </div>

      <!-- Project Description -->
      <div class="description">
        <%= link_to project.description %>
      </div>

      <hr/>
      <!-- Project Progress Bar -->
      <!--<div class="project-bar">-->
        <!--<div class="progress">-->
          <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<#project.total_backed_amount %>" aria-valuemin="0" aria-valuemax="<# project.pledges %>" style="width:<# project.pledges %>">-->
            <!--<span class="sr-only">100% Complete (Success)</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!-- Project Stats -->
      <div class="stats">
        <ul>
          <!-- percentage of funding -->
          <li><%= project.pledges.count %> <br><span class="label">funded</span></li>
          <!-- total amount pledged (dollars) -->
          <li>$<%= project.total_backed_amount %><br><span class="label">pledged</span></li>
          <!-- days to go 'till deadline -->
          <li><%= project.days_to_go %><br><span class="label">days to go</span></li>
        </ul>
      </div>

    </div>
  </div>

</div>